{{define "fragment-pool-matches"}}
<p class="text-center h2">Poule {{.PoolName}}</p>
{{if .UniqPitchName.Valid}}
<p class="text-center h4">Terrain {{.UniqPitchName.String}}</p>
{{end}}
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Heure</th>
        <th scope="col">Equipe</th>
        <th scope="col">Score</th>
        <th scope="col">Equipe</th>
    </tr>
    </thead>
    <tbody>
    {{range .Matches}}
        <tr>
            <td>
                <div class="font-weight-bold">{{.ScheduledAt.Format "15:04"}}</div>
                {{if not $.UniqPitchName.Valid}}
                <div style="font-size:10px;">{{.PitchName}}</div>
                {{end}}
            </td>
            <td>{{.HomeTeamName}}</td>
            {{if .HomeTeamGoals.Valid }}
                <td>{{.HomeTeamGoals.Int64}} - {{.VisitorTeamGoals.Int64}}</td>
            {{else}}
                <td>&nbsp;</td>
            {{end}}
            <td>{{.VisitorTeamName}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{define "fragment-pool-ranking"}}
<p class="text-center h2">Poule {{.PoolName}}</p>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Equipe</th>
        <th scope="col">Pts</th>
        <th scope="col">J</th>
        <th scope="col">V</th>
        <th scope="col">N</th>
        <th scope="col">D</th>
        <th scope="col">Bp</th>
        <th scope="col">Bc</th>
        <th scope="col">Diff</th>
    </tr>
    </thead>
    <tbody>
    {{range .TeamRankings}}
        <tr>
            <td>{{.Rank}}</td>
            <td>{{.Name}}</td>
            <td>{{.Points}}</td>
            <td>{{.Played}}</td>
            <td>{{.Wins}}</td>
            <td>{{.Draws}}</td>
            <td>{{.Defeats}}</td>
            <td>{{.TeamGoals}}</td>
            <td>{{.OpponentGoals}}</td>
            <td>{{.GoalBalance}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{define "fragment-ranking-matches"}}
<p class="text-center h2">Matchs de classement</p>
{{if .uniqRankingPitchName.Valid}}
<p class="text-center h4">Terrain {{.uniqRankingPitchName.String}}</p>
{{end}}
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Heure</th>
        <th scope="col">Match</th>
        <th scope="col">Equipe</th>
        <th scope="col">Score</th>
        <th scope="col">Equipe</th>
    </tr>
    </thead>
    <tbody>
    {{range .rankingMatches}}
        <tr>
            <td>
                <div class="font-weight-bold">{{.ScheduledAt.Format "15:04"}}</div>
                {{if not $.uniqRankingPitchName.Valid}}
                <div style="font-size:10px;">{{.PitchName}}</div>
                {{end}}
            </td>
            <td>{{.Key}}</td>
            <td>{{.HomeTeamName.String}}</td>
            {{if .HomeTeamGoals.Valid }}
                <td>{{.HomeTeamGoals.Int64}} - {{.VisitorTeamGoals.Int64}}</td>
            {{else}}
                <td>&nbsp;</td>
            {{end}}
            <td>{{.VisitorTeamName.String}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}
