{{define "content"}}
  <p class="text-center h2">{{.tournament.Name}} classement final</p>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col">Bp</th>
      <th scope="col">Bc</th>
      <th scope="col">Diff</th>
      <th scope="col"># Attaque</th>
      <th scope="col"># Défense</th>
    </tr>
    </thead>
    <tbody>
    {{range .ranking}}
      <tr>
        <td>{{.Rank}}</td>
        <td>{{if .TeamName.Valid }}{{.TeamName.String}}{{ end }}</td>
        <td>{{if .TeamGoals.Valid }}{{.TeamGoals.Int64}}{{ end }}</td>
        <td>{{if .OpponentGoals.Valid }}{{.OpponentGoals.Int64}}{{ end }}</td>
        <td>{{if .GoalBalance.Valid }}{{.GoalBalance.Int64}}{{ end }}</td>
        <td>{{if .AttackRank.Valid }}{{.AttackRank.Int64}}{{ end }}</td>
        <td>{{if .DefenseRank.Valid }}{{.DefenseRank.Int64}}{{ end }}</td>
      </tr>
    {{end}}
    </tbody>
  </table>
{{end}}