{{define "content"}}
    <p class="text-center h1">Classement {{.tournament.Name}}</p>
    {{range .pools}}
    <p class="text-center h2">Poule {{.PoolName}}</p>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipe</th>
          <th scope="col">Points</th>
          <th scope="col">Joués</th>
          <th scope="col">Victoires</th>
          <th scope="col">Nuls</th>
          <th scope="col">Défaites</th>
          <th scope="col">Buts</th>
          <th scope="col">Diff</th>
        </tr>
      </thead>
      <tbody>
        {{range .TeamRankings}}
        <tr>
          <td>{{.Rank}}</td>
          <td>{{.Name}}</td>
          <td>{{.Points}}</td>
          <td>{{.Played}}</td>
          <td>{{.Wins}}</td>
          <td>{{.Draws}}</td>
          <td>{{.Defeats}}</td>
          <td>{{.Goals}}</td>
          <td>{{.GoalBalance}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{end}}
    <p class="text-center h2">Classement final</p>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipe</th>
        </tr>
      </thead>
      <tbody>
        {{range .finalRanking}}
        <tr>
          <td>{{.Rank}}</td>
          <td>{{if .TeamName.Valid }}{{.TeamName.String}}{{ end }}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
{{end}}